#hm-main-column > .vc_column-inner > .wpb_wrapper {
    display: grid;
    grid-template-columns: 10.98% 2.29% 18.11% 7.13% 4.59% 26.39% 2.29% 16.8% 6.06% 5.24%;
    grid-template-rows: 8px 32px 30px 236px 60px 40px 52px 104px 20px;
}

.hm-green {
    grid-column: 2/4;
    grid-row: 4/8;
    overflow: hidden;
    border-radius: 5px;
}

.hm-green > .vcex-image-inner > img {
    height: 100%;
    object-fit: cover;
}

.hm-img-right {
    grid-column: 8/10;
    grid-row: 2/6;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.hm-img-right > .vcex-image-inner, .hm-img-center > .vcex-image-inner, .hm-img-left > .vcex-image-inner, .hm-green > .vcex-image-inner {
    height: 100%;
}

.hm-img-right > .vcex-image-inner > img {
    height: 100%;
    object-fit: cover;
}

.hm-img-center {
    grid-column: 4/7;
    grid-row: 5/9;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}


.hm-img-center > .vcex-image-inner > img {
    object-position: top left;
    height: 100%;
    object-fit: cover;
}

.hm-img-left {
    grid-column: 3/5;
    grid-row: 3/7;
    border-radius: 5px;
    overflow: hidden;
    z-index: 3;
}

.hm-img-left > .vcex-image-inner > img {
    object-position: top right;
    height: 100%;
    object-fit: cover;
}

#hm-main-text {
    grid-column: 6/9;
    grid-row: 2/4;
    margin:0;
    padding: 0;
    z-index: 4;
    text-shadow: 1px 1px #fefdfe;
}

#footer-builder {
    border-top: 1px solid #6BAB90;
}

/******************************** FAQ Styling ************************/
#hm-tabs > .vc_general > .vc_tta-tabs-container > .vc_tta-tabs-list > .vc_tta-tab > a {
    border-color: #6BAB90;
    color: #1F140A;
}

#hm-tabs > .vc_general > .vc_tta-tabs-container > .vc_tta-tabs-list > .vc_active > a {
    background-color: #6BAB90;
}

#hm-tabs > .vc_general > .vc_tta-tabs-container > .vc_tta-tabs-list > li > a:hover {
    color: #1f140A;
    background-color: #6BAB90;
}

.vc_toggle_color_green.vc_toggle_simple .vc_toggle_icon::after, .vc_toggle_color_green.vc_toggle_simple .vc_toggle_icon::before {
    background-color: #6BAB90;
}

.faq > .vc_toggle_title > h4 {
    font-family: "pelago", sans-serif;
}

.faq > .vc_toggle_content {
    margin-left:33px;
}

.vc_toggle_content p {
    line-height: 1;
}

/************************* Mobile Styling ****************************/
@media only screen and (max-width: 767px) {
    
    #hm-main-column > .vc_column-inner {
        padding: 20px 50px;
    }
    
    #hm-main-column > .vc_column-inner > .wpb_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hm-green, .hm-img-center {
        position: absolute;
        visibility: hidden;
    }
    
    #hm-main-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}