/******** Fix Safari TikTok Icon ******/
.tiktok-icon > .vcex-image-inner {
    width: 60px;
}

.c-title {
    margin-bottom: 0px;
}

.c-title-column > .vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}

#mc-embedded-subscribe-form {
    font-family: 'pelago', sans-serif;
    flex-direction: column;
}

.c-img-left > .vcex-image-inner > img {
    box-shadow: 18px 24px #6BAB90;
}

.c-img-right > .vcex-image-inner > img {
    box-shadow: -24px -18px #6BAB90;
}

#mce-EMAIL {
    text-align: center;
}

#connect > .wpb_column > .vc_column-inner {
    margin-bottom: 20px;
}

#social-icons {
    display: flex;
    align-items: center;
    height: 150px;
}

.vc_icon_element {
    margin-bottom: 0;
}

#footer-builder {
    border-top: 1px solid #6BAB90;
}

/************ Mobile Styling **********/
#c-row-main {
    display: flex;
    flex-direction: column-reverse;
}

#email-me {
    padding-bottom: 20px;
    text-align: center;
}

#quote-me {
    margin-bottom: 30px;
}

#best-email-p {
    padding: 30px 0 10px 0;
}

#recipe-ideas {
    padding-bottom: 20px;
    padding-top: 20px;
}

#mc-embedded-subscribe {
    padding: 10px;
}

/********** Tablet Styling ********/
@media only screen and (min-width: 767px){
    #c-row-main {
        display: block;
    }
    
    #best-email-p {
        font-size: 24px;
        padding: 20px 0 0 0;
    }
    
    #best-email-p > .wpb_wrapper > p {
        font-size: 24px;
    }
    
    #email-me {
        margin-top: 80px;
        text-align: left;
    }
    
    #quote-me {
        margin-bottom: 100px;
    }
    
    #mc-embedded-subscribe-form {
        flex-direction: row;
    }
    
    #mc-embedded-subscribe {
    padding: 0 30px;
    }

    .c-img-right > .vcex-image-inner > img {
        width: 80%;
    }
    
    .c-img-left > .vcex-image-inner > img {
        width: 75%;
    }
    
    #mailchimp-form {
        margin-left: 10px;
    }
    
    #social-icons {
        padding: 0 20%;
    }
}

/********** Desktop Styling *********/
@media only screen and (min-width: 1100px){
    .c-img-left > .vcex-image-inner > img {
        width: 75%;
        margin-right: 25%;
    }

    #email-me {
        margin-left: -20%;
        max-width: 200%;
    }
    
    
    #quote-me {
        margin-right: 110px;
    }
    
    #mailchimp-form {
        margin-left: 40px;
    }
}