/***********Main Styling *************/
#wmp-wrapper > .vc_column-inner > .wpb_wrapper {
    display: grid;
    grid-template-columns: 12.88% 3.93% 2.4% 30.56% 11.13% 16.81% 22.27%;
    grid-template-rows: 5.15% 40.8% 2.57% 34.75% 1.8% 15.44%;
    height: 70vh;
    width: 63vw;
    max-height: 490px;
}

.wmp-green {
    grid-column: 2/6;
    grid-row: 3/6;
    overflow: hidden;
    border-radius: 5px;
}

.wmp-img1 {
    grid-column: 4/5;
    grid-row: 2/4;
    overflow: hidden;
    border-radius: 5px;
}

.wmp-img2 {
    grid-column: 3/7;
    grid-row: 4/5;
    overflow:hidden;
    border-radius: 5px;
}

.wmp-green > .vcex-image-inner, .wmp-img2 > .vcex-image-inner {
    width: 100%;
}

#wmp-top-p {
    margin-top: 10vh;
}

.wmp-p {
    margin-left: 10%;
    margin-right: 15%;
}

/*****Tablet Styling******/
@media only screen and (min-width: 767px){
    #wmp-wrapper > .vc_column-inner > .wpb_wrapper {
        max-height: 60vw;
    }
}

@media only screen and (min-width: 767px) and (max-width: 965px) {
    .wmp-p {
        margin-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    #wmp-top-p {
        margin-top: 0;
    }
}

/***** Mobile Styling******/
@media only screen and (max-width: 767px){
    
    .wmp-title {
        margin-top: 20px;
    }
    
#wmp-wrapper > .vc_column-inner > .wpb_wrapper {
    display: flex;
    flex-direction: column;
    max-height: 425px;
}

.wmp-green {
    display: none;
}

.wmp-img1 {
    width: 40vw;
    margin-top: 0px;
}

.wmp-img2 {
    width: 40vw;
    margin-top: 20px;
}
}

@media only screen and (max-width:414px) {
    #wmp-prob-sol-p > .vc_column-inner > .wpb_wrapper > div:nth-child(3) {
    width: 175%;
    margin-left: -70%;
}

.thcp-button {
    margin-bottom: 10px !important;
}
}